<div class="container">
  <div class="row p-3">
    <div class="col-12 p-3">会員登録ページ</div>
  </div>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field">
      <%= f.label :アカウント名 %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %><br></br>
    </div>
  
    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %><br></br>
    </div>
  
    <div class="field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>＊<%= @minimum_password_length %> 文字以上</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %><br></br>
    </div>
  
    <div class="field">
      <%= f.label :"パスワード(確認用)" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %><br></br>
    </div>
  
    <div class="actions">
      <%= f.submit "登録", class: "btn btn-primary" %><br></br>
    </div>
    
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>