<%= form_for(news_item) do |f| %>
  <% if news_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news_item.errors.count, "error") %> prohibited this news_item from being saved:</h2>

      <ul>
      <% news_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :news_site_id %>
    <%= f.number_field :news_site_id %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_area :link %>
  </div>

  <div class="field">
    <%= f.label :published_at %>
    <%= f.datetime_select :published_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
