<div class="container p-3 mt-3">  
    <div class="card">
        <div class="card-header bg-secondary">
            <h5 class="card-title text-white" style="font-weight:bold;"><%= @news_item.title %></h5>
            <p class="mb-0 text-white">公開日：<%= @news_item.published_at %></p>
            <%#ジャンル：<%= @news_item.category %>
        </div>
        <div class="card-body bg-light">
          <p class="card-text"><%= @news_item.description %></p>
          <br></br>
          <a href="<%= @news_item.link %>" class="btn btn-outline-dark btn-lg btn-block" target="_blank">この記事のリンク</a>
        </div>
        <div class="card-footer">
          <div class="row justify-content-md-center">
            <button type="button" class="btn btn-outline-dark">既読</button>
          </div>    
        </div>
    </div>
</div>      
<!---<div class="accordion" id="commentContent">
    <div class="card">
        <div class="card-header" id="headingOne">
            <p class="mb-0">
                <p class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    コメント内容の冒頭数文字...
                </p>
            </p>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#commentContent">
            <div class="card-body">
                <h5><span style="border-bottom: solid 1px gray;">ユーザー名</span></h5>  
                <p>コメント内容</p>
            </div>
        </div>
    </div>    
</div>--->
<!---
<ul class="list-group list-group-flush p-5">
    <li class="list-group-item disabled">コメント一覧...</li>

    <li id="userOne" class="list-group-item" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        コメント
    </li>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#userOne">
        <p><span style="border-bottom: solid 1px gray;">ユーザー名</span></p></br>  
        <p>コメント内容</p>
    </div>

    <li id="userTwo" class="list-group-item" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        コメント
    </li>
    <div id="collapseTwo" class="collapse"  data-parent="#userTwo">
        <p><span style="border-bottom: solid 1px gray;">ユーザー名</span></p></br>  
        <p>コメント内容</p>
    </div>

    <li id="userThree" class="list-group-item" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        コメント
    </li>
    <div id="collapseThree" class="collapse"  data-parent="#userThree">
        <p><span style="border-bottom: solid 1px gray;">ユーザー名</span></p></br>  
        <p>コメント内容</p>
    </div>

    <li class="list-group-item">コメントをもっと見る...</li>
</ul> 
--->

<div id="comments">
    <%= render partial: 'comments', locals: { comments: @comments } %>
</div>

<div class="container">
 <% if user_signed_in? %>
   <%= form_for(@comment, url: news_item_comments_path(@news_item), remote: true) do |f| %>
     <div class="row p-5">
       <div class="input-group mb-3">
         <%= f.text_field :content, class: "form-control", placeholder: "コメント投稿" %>
         <div class="input-group-append">
           <%= f.submit "送信", class: "btn btn-outline-secondary" %>
         </div>
       </div>
      </div>
   <% end %>
  <% else %>
     <div class="row justify-content-md-center p-5">
       <%= link_to "ログインしてコメントを投稿", new_user_session_path, class: 'btn btn-outline-dark' %>
     </div> 
  <% end %>
</div>
</div>
</div>